#wrap {
  margin: 0 auto;
  width: 990px;
  height: 660px;
  background-image: url('../img/ipad.jpg');
  background-repeat: no-repeat;
}

.canvas-wrap {
  position: absolute;
  margin-top: 90px;
  margin-left: 95px;
}
